BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80

BreakBeforeBraces: Attach

PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakAssignment: 0

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 2

PointerAlignment: Left
DerivePointerAlignment: false

AllowShortFunctionsOnASingleLine: None
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
